/*2*/
.add_to_cart2{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart2:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart2{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns2{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*3*/
.add_to_cart3{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart3:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart3{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns3{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*4*/
.add_to_cart4{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart4:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart4{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns4{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*5*/
.add_to_cart5{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart5:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart5{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns5{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*6*/
.add_to_cart6{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart6:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart6{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns6{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*7*/
.add_to_cart7{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart7:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart7{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns7{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*8*/
.add_to_cart8{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart8:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart8{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns8{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*9*/
.add_to_cart9{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart9:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart9{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns9{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*10*/
.add_to_cart10{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart10:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart10{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns10{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*11*/
.add_to_cart11{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart11:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart11{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns11{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*12*/
.add_to_cart12{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart12:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart12{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns12{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*13*/
.add_to_cart13{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart13:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart13{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns13{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*14*/
.add_to_cart14{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart14:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart14{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns14{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*15*/
.add_to_cart15{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart15:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart15{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns15{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*16*/
.add_to_cart16{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart16:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart16{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns16{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*17*/
.add_to_cart17{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart17:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart17{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns17{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*18*/
.add_to_cart18{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart18:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart18{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns18{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*19*/
.add_to_cart19{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart19:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart19{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns19{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*20*/
.add_to_cart20{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart20:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart20{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns20{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*21*/
.add_to_cart21{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart21:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart21{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns21{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*22*/
.add_to_cart22{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart22:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart22{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns22{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*23*/
.add_to_cart23{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart23:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart23{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns23{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*24*/
.add_to_cart24{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart24:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart24{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns24{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*25*/
.add_to_cart25{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart25:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart25{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns25{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*26*/
.add_to_cart26{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart26:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart26{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns26{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*27*/
.add_to_cart27{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart27:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart27{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns27{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*28*/
.add_to_cart28{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart28:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart28{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns28{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*29*/
.add_to_cart29{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart29:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart29{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns29{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}

/*30*/
.add_to_cart30{	
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart30:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .add_to_cart30{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.cover-btns30{
	position:absolute;
	top:80px;
	left:50%;
	width:152px;
	height: 47px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #5ff7d2;
	color:#fff;
	background-color: #5ff7d2;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
}